<div id="theText" class = "eight columns">

  <h1>about digginIt</h1>
  <p>digginIt was created by Jennifer Nelson in the year 2013 as a vehicle to collect  global knowledge.</p>

</div>

<div id="bigphoto" class = "seven columns add-bottom offset-by-one">
    <%= image_tag image_path('globe.jpg') %>
</div>




