<div id="theText" class = "eight columns">

  <h1>welcome to digginIt</h1>

  <p>digginIt is an online, user-built, free encyclopedia filled with articles written collaboratively by volunteers around the world.  

  Search or browse for answers to your questions, edit existing articles, or write new ones.</p>

  <blockquote>
    <p>Our collective knowledge is vast -- start digginIt now!</p>
    <cite>Jennifer Nelson, digginIt Creator</cite>
  </blockquote>

</div>

<div id="bigphoto" class = "seven columns add-bottom offset-by-one">
    <%= image_tag "globe.jpg" %>
</div>

