<div id="theText" class = "eight columns">

  <h1>welcome to digginIt</h1>

  <p>digginIt is an online, user-built, free encyclopedia filled with articles written collaboratively by volunteers around the world.  

  Search or browse for answers to your questions, edit existing articles, or write new ones.</p>

  <blockquote>
    <p>Our collective knowledge is vast -- start digginIt now!</p>
    <cite>Jennifer Nelson, digginIt Creator</cite>
  </blockquote>
</div>



<div id="signuptext" class = "fourteen columns offset-by-two columns">
 <h2>find out more:</h2>
</div>

<div id="SignupButtons" class = "eight columns">
  <div class="four columns alpha">
    <%= image_tag image_path('button-digginit-free.png') %>
  </div>
  <div class="four columns alpha">
    <%= image_tag image_path('button-digginit-premium.png') %>
  </div>
</div>


