<h1>my wikis</h1>
<% if can? :create, Wiki %>
  <%= link_to "create new wiki", new_wiki_path, class: 'button' %>
<% end %>

<table id="wikis", class="bordered">

  <% @wikis.each do |wiki| %>
    <tr>
      <td><%= link_to wiki.title, wiki %></td>
      <td><small><%= wiki.description %></small></td>
    </tr>
  <% end %>
 </table> 


