<h2>Your payment for digginIt Premium Membership has been submitted. <strong>$5.00</strong>!</h2>

<h2>To complete your digginIt registration, make sure to verify your email address by clicking on the link in the email sent to you.</h2>